.address-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  padding: 1em;
  border-radius: 0.5em;

  border: thin solid rgb(199, 199, 199);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.address-fields-drop-box-row {
  display: flex;
  gap: 1em;
}

.address-fields-drop-box-row > select {
  width: 25%;
}

.address-fields-drop-box-row > select {
  height: 2em;
}

.address-form > input {
  height: 2em;
}
