#calculator-page {
  /* border: 10px solid saddlebrown; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  height: 85vh;
}

.loan-calculator-form {
  font-family: "Roboto", sans-serif;
  width: 600px;
  background: #fff;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #14213d;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  /* border: 2px solid red; */
}

.loan-calculator-form,
.loan-calculator-form * {
  box-sizing: border-box;
}

.loan-calculator-form .loan-calculator-top {
  background: #14213d;
  color: #fff;
  padding: 32px;
}

.loan-calculator-form .loan-calculator-top h2 {
  margin-top: 0;
}

.loan-calculator-form form {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.loan-calculator-form .loan-calculator-labels {
  margin-bottom: 16px;
}

.loan-calculator-form form input {
  font-size: 20px;
  padding: 8px 24px;
  width: 100%;
}

.loan-calculator-form .loan-calculator-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loan-calculator-form .loan-calculator-result .loan-calcu-result-left {
  width: 100%;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
}

.loan-calculator-form .loan-calcu-result-left h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loan-calculator-form .loan-calculator-result .loan-calcu-output-val {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(20, 33, 61, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
}

.loan-calculator-form .loan-calculator-result .loan-calcu-output-val::before {
  content: "₱";
  font-size: 24px;
  font-weight: 400;
  margin-right: 6px;
  opacity: 0.4;
  justify-content: center;
  align-items: center;
}

.loan-calculator-form .loan-calculate-btn {
  background: black;
  color: #fff;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  margin: 24px 190px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* .loan-calculator-form .right {
    width: 50%;
} */

@media (max-width: 650px) {
  .loan-calculator-form {
    width: 90%;
    max-width: 500px;
  }

  .loan-calculator-form form {
    flex-direction: column;
    gap: 20px;
  }

  .loan-calculator-form .loan-calculator-result {
    flex-direction: column;
    text-align: center;
  }
}
