/* landing page styles goes here */

#landing-page {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100%;

  gap: 5.25em;
  padding: 5.25em;
}

.search-box {
  display: flex;
  gap: 1em;

  padding: 2em;
  border: thick solid black;
  border-radius: 1em;
}

.drop-box-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.drop-box-container > button {
  height: 2em;
  width: 10em;

  border-radius: 0.5em;
}

.drop-box-container > select {
  height: 2em;
  width: 100%;

  border-radius: 0.5em;
}
