* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif, "Ubuntu", "Heebo";
  outline: none;
}

body {
  /* this border is for debugging purposes only, remove in production */
  /* border: solid 2px green; */

  height: 100vh;
  width: 100vw;
}

.homefinders-btn {
  padding-inline: 2em;
  padding-block: 1em;

  font-family: "Roboto";
  font-weight: bold;
  background-color: white;
  color: #14213d;
  outline: none;

  border: thin solid rgb(199, 199, 199);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  transition: 0.5s ease-out;
}

.homefinders-btn:hover {
  background-color: #14213d;
  color: white;
  cursor: pointer;

  scale: 1.01;
}

.homefinders-form-fields {
  background-color: #eff9fd;

  border: 0.15em solid black;
  border-radius: 0.3em;
}



.btn-color-red {
  background-color: red;
  color: white;
}

.btn-color-green {
  background-color: rgb(21, 228, 21);
  color: white;
}