/* style for the container that holds the logo, website name, and navigation bar */
#navigation-panel {
    border: 1px solid red;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/* style for the container that holds the navigation buttons */
#navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

/* main buttons */
.react-router-link {
    position: relative;
    background-color: rgba(0, 153, 255, 0.685);
}

/* main buttons - on hover */
.react-router-link:hover {
    background-color: rgba(255, 0, 119, 0.685);
}

/* container of sub buttons - hidden by default*/
.react-router-link > div {
    display: none;
    position: absolute;

    top: 101%;
    left: 0%;
}

/* container of sub buttons - show on main button hover*/
.react-router-link:hover > div {
    display: flex;
    flex-direction: column;
}

/* all buttons */
.react-router-link, .react-router-sub-link {
    font-size: medium;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
}

/* sub buttons */
.react-router-sub-link {
    background-color: rgba(0, 195, 255, 0.685);
}

/* sub buttons - on hover */
.react-router-sub-link:hover {
    background-color: rgba(153, 0, 255, 0.685);
}

/* navigation bar links */
.react-router-link, .react-router-sub-link {
    color: white;
    text-decoration: none;
}

/* navigation bar links - when clicked */
.react-router-link:active, .react-router-sub-link:active {
    color: green;
}

/* navigation bar links - on hover */
.react-router-link:hover, .react-router-sub-link:hover {
    cursor: pointer;
    color: black;
}