/* style for the container that holds the logo, website name, and navigation bar */
#navigation-panel {
  /* border: 1px solid red; */
  width: 100%;
  background-color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2.5em;
}

.logo {
  font-size: 1.75em;
  color: #fff;
  user-select: none;
  text-decoration: none;
}

/* style for the container that holds the navigation buttons */
#navigation-bar {
  /* border: solid yellow 1px; */
  padding-inline: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

/* main buttons */
.react-router-link {
  position: relative;
  /* background-color: black; */
}

/* main buttons - on hover */
/* .react-router-link:hover {
    background-color: rgba(255, 0, 119, 0.685);
} */

/* container of sub buttons - hidden by default*/
.react-router-link > div {
  display: none;
  position: absolute;

  top: 101%;
  left: 0%;
}

/* container of sub buttons - show on main button hover*/
.react-router-link:hover > div {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
}

/* all buttons */
.react-router-link,
.react-router-sub-link {
  /* font-size: medium; */
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
}

/* sub buttons */
.react-router-sub-link {
  background-color: black;
}

/* sub buttons - on hover */
/* .react-router-sub-link:hover {
    background-color: rgba(153, 0, 255, 0.685);
} */

/* navigation bar links */
.react-router-link,
.react-router-sub-link {
  /* border: 1px solid greenyellow; */
  position: relative;

  color: white;
  text-decoration: none;
}

/* navigation bar links - when clicked */
/* .react-router-link:active,
.react-router-sub-link:active {
  color: green;
} */

/* navigation bar links - on hover */
.react-router-link:hover,
.react-router-sub-link:hover {
  cursor: pointer;
  /* color: black; */
}

.react-router-link::after,
.react-router-sub-link::after {
  content: "";

  position: absolute;
  bottom: 5%;

  width: 100%;
  height: 0.18em;

  background: #fff;

  border-radius: 5px;

  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.react-router-link:hover::after,
.react-router-sub-link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

#admin-login-btn {
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;

  padding: 0.65em;
}

#admin-login-btn:hover {
  color: black;
  background-color: white;
}


.hidden-black {
  color: black;
}