.add-property-page {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border: 2px solid red;
}

.add-property-form-container {
  display: flex;

  width: 100vw;

  border: 2px solid blue;
}

.add-property-form-left-side {
  width: 60%;
  padding: 2em;
}

.add-property-form-right-side {
  width: 40%;
  padding: 2em;
}

.add-property-form-left-side {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: yellow solid 2px;
}

.add-property-form-right-side {
  border: pink solid 2px;
}

.add-property-form-right-side {
  display: flex;
  flex-direction: column;

  gap: 1em;

  border: solid 2px violet;
}

.add-property-form-right-content {
  display: flex;
  flex-direction: column;

  border: solid 2px goldenrod;
  height: 50%;
}
