.manage-property-page {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border: 2px solid green;

    padding: 1em;
}

.manage-property-form-container {
    display: flex;

    gap: 1em;
    padding: 1em;

    width: 100%;

    border: 2px solid green;
}

.manage-property-form-left-side {
    width: 60%;
    border: solid gold 2px;
}

.manage-property-form-right-side {
    width: 40%;
    border: solid orange 2px;
}