.add-property-page {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 0.5em;
  gap: 0.5em;

  /* border: 2px solid red; */
}

.add-property-form-container {
  display: flex;

  width: 100vw;

  /* border: 2px solid blue; */
}

.add-property-form-left-side {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  width: 60%;
  padding: 0.5em;
  padding-top: 0px;

  /* border: yellow solid 2px; */
}

.add-property-form-right-side {
  width: 40%;

  padding: 1em;
  padding-top: 0px;

  /* border: pink solid 2px; */

  display: flex;
  flex-direction: column;

  gap: 1em;
}

.add-property-form-right-content {
  display: flex;
  flex-direction: column;

  padding: 1em;
  border-radius: 0.5em;

  border: thin solid rgb(199, 199, 199);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  height: 50%;
}

.add-property-form-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

  /* border: 1px solid green; */
  width: 100%;
}
