.dropbox {
  border: dashed 0.15em grey;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 8em;
  width: 25em;
}

.files-selected {
  padding: 1em;

  justify-content: center;
  align-items: start;

  overflow: hidden;
  overflow-y: auto;
}

.upload-selection-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  border-top: solid whitesmoke thin;

  width: 100%;

  padding: 0.5em;
}
